html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: luck;
    src: url(fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}

@font-face {
    font-family: meme;
    src: url(fonts/Tilt_Warp/TiltWarp-Regular-VariableFont_XROT\,YROT.ttf);
}

:root {
    --grey: #a9a8a7;
}

.header, .form-container {
    background-color: var(--grey);
}

.header, .form-container {
    font-family: luck;
}

.header {
    display: grid;
    justify-items: center;
    padding: 1%;
}

.header h1 {
    font-size: 4em;
}

.header h2 {
    font-size: 2em;
}

.letter {
    transition: color 2000ms;
}

.form-container {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1%;
    gap: 20px;
    font-size: 1.5em;
}

#submit {
    grid-column: 2;
    width: 20%;
    justify-self: end;
    border: 1px solid;
    border-radius: 5px;
    padding: .5em;
    font-size: .8em;
    background-color: rgb(39, 186, 54);
    color: white;
    border: 1px rgb(115, 204, 115) solid;
} 

#submit:hover {
    cursor: pointer;
    background-color: rgb(15, 110, 15);
    border: 1px rgb(15, 110, 15) solid;
    color: white;
}

#top-text, #bot-text, #img-url {
    padding: .5em;
    width: 55%;
    border: 1px solid;
    border-radius: 10px;
}

form label {
    justify-self: end;
    font-weight: bold;
    margin-right: 6%;
}


.created-memes-container div {
    display: inline-block;
    position: relative;
    margin: 2%;
    border-radius: 10px;
}

.created-memes-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.created-memes-container img {
    border-radius: 10px;
}

.top, .bot {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 4rem;
    font-family: meme;
    color: yellow;
    -webkit-text-stroke: 3px black;
}

.top {
    top: 0;
}

.bot {
    bottom: 1%;
}

.created-memes-container img:hover {
    opacity: .5;
    background-color: black;
    cursor: pointer;
    transform: scale(.95);
    background-image: url(img/delete\ \(1\).png);
}


